*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body{
    font-family: 'roboto', sans-serif;
}


.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #AF8260;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #803D3B;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1p solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: rgb(242, 236, 236);
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 20px;
    font-size: 35px;
    color: black;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: rgb(154, 0, 0);
    padding: 2px 2px ;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #cancel{
    left: 195px;
}
section{
    background: url(https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg?w=740&t=st=1713744523~exp=1713745123~hmac=8576661898d2843207161a516aafd89e28918ec2f9a2615e74ea3f7258954efd) no-repeat;
    background-position: center;
    background-size: cover;
}