body {
    font-family: Arial, sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #948979;
  }
  
  button {
    margin: 16px auto;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #212c22;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #212c22;
  }

  .center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateX (100%);
    transform: translateX(100%);
  }

  form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #A34343;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="number"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #F2613F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #A34343;
  }

  .wrapper {
    z-index: -1;
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800px;
    float: left;
    font-family: courier;
    color: #481E14;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #F2613F;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}